[submodule "pl-saas-web-bdd-steps"]
	path = pl-saas-web-bdd-steps
	url = git@bitbucket.org:printerlogicDev/pl-saas-web-bdd-steps.git
[submodule "pl-api-bdd-steps"]
	path = pl-api-bdd-steps
	url = git@bitbucket.org:printerlogicDev/pl-api-bdd-steps.git
